<div class='main'>
  <div class='box img-box'>
     <% if user.photo? %>
      <img src=<%= user.photo%> alt="<%= user.name %>'s photo">
    <% else %>
        <%= image_tag "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" %>
    <% end %>
  </div>
  <div class='box my-card'>
    <a href='/users/<%= user.id %>'>
      <h2 class='title'><%= user.name %></h2>
    </a>
    <p class='posts-counter '>
      Total number of posts are: <%= user.posts_counter %>
    </p>
  </div>
</div>
